<!-- Reference: https://themeforest.net/item/sconto-premium-ecommerce-template/16643705?s_rank=17 -->

<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Food-For-Soul</title>
        <meta name="description" content="Premium eCommerce Template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/favicons/ffs-favicon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/ffs-favicon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/ffs-favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Hind:400,700,600,500,300%7CFira+Sans:400,700italic,500italic,400italic,300italic,700,500,300' rel='stylesheet' type='text/css'>

        <!-- Fira Sans Fix - Google Fira Sans sometimes fails to load -->
        <link href='http://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet'>

        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <link rel="stylesheet" href="assets/css/settings.css">
        <link rel="stylesheet" href="assets/css/navigation.css">
        <link rel="stylesheet" href="assets/css/style.css">

    </head>

    <body>
        <div id="wrapper">
          <header class="header sticky-header border-less border-gray">
              <div class="container-fluid">
                  <div class="logo">
                      <a href="/" title="Food-for-Soul">
                          <img src="assets/images/ffs-logo-final.png" alt="Food-for-Soul">
                      </a>
                  </div>

                  <nav class="menu-container">
                      <ul class="menu">
                          <li><a href="/" onclick="books()">Books</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="goodreads()">Good Reads</a>
                                      <ul>
                                          <li><a href="/" onclick="goodreads_children()">Children's Books</a></li>
                                          <li><a href="/" onclick="goodreads_comics()">Comics</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_humor()">Humor & Entertainment</a></li>
                                          <li><a href="/" onclick="goodreads_mystery()">Mystery, Thriller & Suspense</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_romance()">Romance</a></li>
                                          <li><a href="/" onclick="goodreads_science()">Science Fiction & Fantasy</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_teen()">Teen & Young Adult</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="knowledge()">Knowledge</a>
                                      <ul>
                                          <li><a href="/" onclick="knowledge_business()">Business</a></li>
                                          <li><a href="/" onclick="knowledge_computer()">Computers & Technology</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_education()">Education & Teaching</a></li>
                                          <li><a href="/" onclick="knowledge_history()">History</a></li>
                                          <li><a href="/" onclick="knowledge_law()">Law</a></li>
                                          <li><a href="/" onclick="knowledge_literature()">Literature & Fiction</a></li>
                                          <li><a href="/" onclick="knowledge_medical()">Medical Books</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_politics()">Politics & Social Sciences</a></li>
                                          <li><a href="/" onclick="knowledge_references()">Reference</a></li>
                                          <li><a href="/" onclick="knowledge_sciences()">Sciences & Mathematics</a></li>
                                          <li><a href="/" onclick="knowledge_sports()">Sports</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="lifestyle()">Lifestyle</a>
                                      <ul>
                                          <li><a href="/" onclick="lifestyle_arts()">Arts & Photography</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_biographies()">Biographies</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_food()">Food & Drinks</a></li>
                                          <li><a href="/" onclick="lifestyle_health()">Health</a></li>
                                          <li><a href="/" onclick="lifestyle_lgbt()">LGBT</a></li>
                                          <li><a href="/" onclick="lifestyle_parenthood()">Parenthood & Relationships</a></li>
                                          <li><a href="/" onclick="lifestyle_philosophy()">Philosophy & Learning</a></li>
                                          <li><a href="/" onclick="lifestyle_religion()">Religion & Spirituality</a></li>
                                          <li><a href="/" onclick="lifestyle_travel()">Travel</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/" onclick="notes()">Notes</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="arts()">Arts & Humanities</a>
                                      <ul>
                                          <li><a href="/" onclick="arts_arts()">Arts</a></li>
                                          <li><a href="/" onclick="arts_humanities()">Humanities & Media Studies</a></li>
                                          <li><a href="/" onclick="arts_law()">Law</a></li>
                                          <li><a href="/" onclick="arts_property()">Property</a></li>
                                          <li><a href="/" onclick="arts_socialsciences()">Social Sciences</a></li>
                                          <li><a href="/" onclick="arts_socialwork()">Social Work</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="commerce()">Commerce & Education</a>
                                      <ul>
                                          <li><a href="/" onclick="commerce_business()">Business</a></li>
                                          <li><a href="/" onclick="commerce_commerce()">Commerce</a></li>
                                          <li><a href="/" onclick="commerce_education()">Education</a></li>
                                          <li><a href="/" onclick="commerce_professional()">Professional Qualifications</a></li>
                                          <li><a href="/" onclick="commerce_teaching()">Teaching & Training</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="medicine()">Medicine</a>
                                      <ul>
                                          <li><a href="/" onclick="medicine_dentistry()">Dentistry</a></li>
                                          <li><a href="/" onclick="medicine_health()">Health</a></li>
                                          <li><a href="/" onclick="medicine_medicine()">Medicine</a></li>
                                          <li><a href="/" onclick="medicine_nursing()">Nursing</a></li>
                                          <li><a href="/" onclick="medicine_pharmacy()">Pharmacy</a></li>
                                          <li><a href="/" onclick="medicine_veterinary()">Veterinary Science</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="science()">Science & Engineering</a>
                                      <ul>
                                          <li><a href="/" onclick="science_agriculture()">Agriculture & Environmental Studies</a></li>
                                          <li><a href="/" onclick="science_architecture()">Architecture, Design & Planning</a></li>
                                          <li><a href="/" onclick="science_communications()">Communications</a></li>
                                          <li><a href="/" onclick="science_engineering()">Engineering & Project Management</a></li>
                                          <li><a href="/" onclick="science_information()">Information Technologies</a></li>
                                          <li><a href="/" onclick="science_mathematics()">Mathematics</a></li>
                                          <li><a href="/" onclick="science_science()">Science & Technology</a></li>
                                          <li><a href="/" onclick="science_sports()">Sports Sciences</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>

                      <ul class="mobile-menu">
                          <li><a href="/" onclick="books()">Books</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="goodreads()">Good Reads</a>
                                      <ul>
                                          <li><a href="/" onclick="goodreads_children()">Children's Books</a></li>
                                          <li><a href="/" onclick="goodreads_comics()">Comics</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_humor()">Humor & Entertainment</a></li>
                                          <li><a href="/" onclick="goodreads_mystery()">Mystery, Thriller & Suspense</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_romance()">Romance</a></li>
                                          <li><a href="/" onclick="goodreads_science()">Science Fiction & Fantasy</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_teen()">Teen & Young Adult</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="knowledge()">Knowledge</a>
                                      <ul>
                                          <li><a href="/" onclick="knowledge_business()">Business</a></li>
                                          <li><a href="/" onclick="knowledge_computer()">Computers & Technology</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_education()">Education & Teaching</a></li>
                                          <li><a href="/" onclick="knowledge_history()">History</a></li>
                                          <li><a href="/" onclick="knowledge_law()">Law</a></li>
                                          <li><a href="/" onclick="knowledge_literature()">Literature & Fiction</a></li>
                                          <li><a href="/" onclick="knowledge_medical()">Medical Books</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_politics()">Politics & Social Sciences</a></li>
                                          <li><a href="/" onclick="knowledge_references()">Reference</a></li>
                                          <li><a href="/" onclick="knowledge_sciences()">Sciences & Mathematics</a></li>
                                          <li><a href="/" onclick="knowledge_sports()">Sports</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="lifestyle()">Lifestyle</a>
                                      <ul>
                                          <li><a href="/" onclick="lifestyle_arts()">Arts & Photography</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_biographies()">Biographies</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_food()">Food & Drinks</a></li>
                                          <li><a href="/" onclick="lifestyle_health()">Health</a></li>
                                          <li><a href="/" onclick="lifestyle_lgbt()">LGBT</a></li>
                                          <li><a href="/" onclick="lifestyle_parenthood()">Parenthood & Relationships</a></li>
                                          <li><a href="/" onclick="lifestyle_philosophy()">Philosophy & Learning</a></li>
                                          <li><a href="/" onclick="lifestyle_religion()">Religion & Spirituality</a></li>
                                          <li><a href="/" onclick="lifestyle_travel()">Travel</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/" onclick="notes()">Notes</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="arts()">Arts & Humanities</a>
                                      <ul>
                                          <li><a href="/" onclick="arts_arts()">Arts</a></li>
                                          <li><a href="/" onclick="arts_humanities()">Humanities & Media Studies</a></li>
                                          <li><a href="/" onclick="arts_law()">Law</a></li>
                                          <li><a href="/" onclick="arts_property()">Property</a></li>
                                          <li><a href="/" onclick="arts_socialsciences()">Social Sciences</a></li>
                                          <li><a href="/" onclick="arts_socialwork()">Social Work</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="commerce()">Commerce & Education</a>
                                      <ul>
                                          <li><a href="/" onclick="commerce_business()">Business</a></li>
                                          <li><a href="/" onclick="commerce_commerce()">Commerce</a></li>
                                          <li><a href="/" onclick="commerce_education()">Education</a></li>
                                          <li><a href="/" onclick="commerce_professional()">Professional Qualifications</a></li>
                                          <li><a href="/" onclick="commerce_teaching()">Teaching & Training</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="medicine()">Medicine</a>
                                      <ul>
                                          <li><a href="/" onclick="medicine_dentistry()">Dentistry</a></li>
                                          <li><a href="/" onclick="medicine_health()">Health</a></li>
                                          <li><a href="/" onclick="medicine_medicine()">Medicine</a></li>
                                          <li><a href="/" onclick="medicine_nursing()">Nursing</a></li>
                                          <li><a href="/" onclick="medicine_pharmacy()">Pharmacy</a></li>
                                          <li><a href="/" onclick="medicine_veterinary()">Veterinary Science</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="science()">Science & Engineering</a>
                                      <ul>
                                          <li><a href="/" onclick="science_agriculture()">Agriculture & Environmental Studies</a></li>
                                          <li><a href="/" onclick="science_architecture()">Architecture, Design & Planning</a></li>
                                          <li><a href="/" onclick="science_communications()">Communications</a></li>
                                          <li><a href="/" onclick="science_engineering()">Engineering & Project Management</a></li>
                                          <li><a href="/" onclick="science_information()">Information Technologies</a></li>
                                          <li><a href="/" onclick="science_mathematics()">Mathematics</a></li>
                                          <li><a href="/" onclick="science_science()">Science & Technology</a></li>
                                          <li><a href="/" onclick="science_sports()">Sports Sciences</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </nav>

                  <div class="header-search-container">
                      <form id="searching" onclick="searchbar()" class="header-search-form">
                          <input id="searchval" type="search" class="form-control">
                          <button type="submit" class="btn">
                              <i class="icon icon-header-search"></i>
                          </button>
                      </form>
                  </div><!-- End .header-search-container -->

                  <div class="dropdowns-container">
                      <button type="button" class="navbar-toggle">
                          <span class="toggle-wrapper">
                              <span class="toggle-text">Menu</span>
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </span>
                      </button>
                      <div class="dropdowns-wrapper">
                          <ul class="header-dropdown account-dropdown">
                              <li>
                                  <a href="/MyDashboard">
                                      <i class="icon icon-header icon-user"></i>
                                      <span>My Dashboard</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="/PersonalInformation">
                                              <i class="icon icon-dropdown icon-dropdown-user"></i>
                                              <span>My Account</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/MyOrders">
                                              <i class="icon icon-dropdown icon-dropdown-wishlist"></i>
                                              <span>My Orders</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/MySavedCards">
                                              <i class="icon icon-dropdown icon-dropdown-check"></i>
                                              <span>My Saved Cards</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/logout">
                                              <i class="icon icon-dropdown icon-dropdown-lock"></i>
                                              <span>Logout</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/login">
                                              <i class="icon icon-dropdown icon-dropdown-lock"></i>
                                              <span>Register/Login</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>

                          <ul class="header-dropdown">
                              <li>
                                  <a href="/cart">
                                      <i class="icon icon-header icon-cart"></i>
                                      <span>My Cart</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="/cart">
                                              <span>View Cart</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/checkout">
                                              <span>Checkout</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>

                          <ul class="header-dropdown">
                              <li>
                                  <a title="Currency">
                                      <i class="icon icon-header icon-globe"></i>
                                      <span>Currency</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a>
                                              <i class="icon icon-dropdown icon-currency"></i>
                                              <span>Currency</span>
                                          </a>

                                          <ul>
                                              <li><a onclick="currency_INR()">INR</a></li>
                                              <li><a onclick="currency_USD()">US Dollar</a></li>
                                              <li><a onclick="currency_EUR()">Euro</a></li>
                                              <li><a onclick="currency_GBP()">Pound</a></li>
                                              <li><a onclick="currency_CNY()">Yuan</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div><!-- End .dropdowns-wrapper -->
                  </div><!-- End .dropdowns-container -->

              </div><!-- End .container-fluid -->
          </header><!-- End .header -->


            <div class="mb30"></div><!-- margin -->

            <div class="main">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-9 col-md-push-3">

                            <div class="mb35 mb20-sm"></div><!-- margin -->

                            <div class="products-tab" role="tabpanel">
                                <!-- Nav tabs -->

                                <!-- Tab Panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab-latest">
                                        <div class="row product-container-row">
                                            <div class="products-container max-col-3" data-layoutmode="fitRows">

                                              <!--START OF BOOKS Management TABLE -->
                                                          <div class="main">
                                                              <div class="page-header">
                                                                  <div class="container-fluid">
                                                                      <ol class="breadcrumb">


                                                            <li><a>Manage Orders</a></li>
                                                                <li>   <a>Reason For Cancel</a></li>
                                                              <li class="active"><a>Order cancelled!!</a></li>
                                                          </ol>
                                                                      </ol>
                                                                  </div><!-- End .container-fluid -->


                                                                  <!--Portion to be worked on start-->
                                                                    <div class="mb30"></div>
                                                                  <div class="container">
                                                                      <div class="row">



                                                                          <div class="col-sm-6">
                                                                            <h3>Your order is cancelled!! The details have been mailed to your registered email.</h3>

                                                                            <div class="col-md-6">

                                                                                  <a href="/managebooks" class="btn btn-sm btn-custom">Manage Books</a>
                                                                              </div>

                                                                 </div><!-- End .col-sm-6 -->

                                                                          </div><!-- End .col-sm-6 -->


                                                                      </div><!-- End .row -->

                                                                      <!--Portion to be worked on end-->

                                                              </div><!-- End .page-header -->



                                                        <!--Portion to be worked on end-->


                                                          </div><!-- End .main -->




                                            </div><!-- End .product-container-->
                                        </div><!-- End .row -->
                                    </div><!-- End .tab-pane -->
                                </div><!-- End .swiper-wrapper -->
                            </div><!-- End .swiper-container -->

                        </div><!-- End .col-md-9 -->

                        <aside class="col-md-3 col-md-pull-9 sidebar">

                            <div class="widget widget-category">
                                <h3 class="widget-title">
                                    MY DASHBOARD
                                    <i class="icon cat-title-icon"></i>
                                </h3>
                                <ul class="category-list">
                                  <li>
                                    <a data-toggle="collapse" href="/collapse1">INVENTORY MANAGEMENT</a>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div><a href="/ManageBooks">Manage Books</a></div>
                                        <div><a href="/ManageNotes">Manage Notes</a></div>
                                    </div>
                                  </li>
                                  <li>
                                    <a data-toggle="collapse" href="/collapse2">GENERATE REPORTS</a>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div><a href="/OrdersReport">My Orders</a></div>
                                        <div><a href="/BooksReport">My Books</a></div>
                                        <div><a href="/NotesReport">My Notes</a></div>
                                    </div>
                                  </li>
                                  <li>
                                      <a href="/SellerProfile">MY PROFILE</a>
                                  </li>
                                </ul>
                            </div><!-- End .widget -->

                            <div class="widget widget-category">
                                <h3 class="widget-title">
                                    Filters
                                </h3>
                                <ul class="category-list">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">Advertisements</h3>
                                <div class="swiper-container bestsellers-slider">
                                    <div class="swiper-wrapper">

                                        <div class="swiper-slide">
                                            <div class="product product-sm">
                                            </div><!-- End .product -->

                                            <div class="product product-sm">
                                            </div><!-- End .product -->

                                            <div class="product product-sm">
                                            </div><!-- End .product -->
                                        </div><!-- End .swiper-slide -->

                                        <div class="swiper-slide">
                                            <div class="product product-sm">
                                            </div><!-- End .product -->

                                            <div class="product product-sm">
                                            </div><!-- End .product -->

                                            <div class="product product-sm">
                                            </div><!-- End .product -->
                                        </div><!-- End .swiper-slide -->

                                    </div><!-- End .swiper-wrapper -->

                                    <div class="swiper-button-next icon"></div>
                                    <div class="swiper-button-prev icon"></div>
                                </div><!-- end .swiper-container -->
                            </div><!-- End .widget -->

                        </aside>

                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .main -->

            <footer class="footer footer2">
                <div class="footer-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">Your Profile</h4>
                                    <ul class="links">
                                        <li><a href="/MyDashboard">Dashboard</a></li>
                                        <li><a href="/PersonalInformation">Account</a></li>
                                        <li><a href="/MyOrders">Orders</a></li>
                                        <li><a href="/MySavedCards">Saved Cards</a></li>
                                    </ul>
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">Follow Us</h4>

                                    <div class="social-icons smaller">
                                        <a href="https://www.facebook.com/ffs.foodforsoul" class="social-icon icon facebook" title="Facebook"><span class="sr-only">Facebook</span></a>
                                        <a href="https://twitter.com/ffs_foodforsoul" class="social-icon icon twitter" title="Twitter"><span class="sr-only">Twitter</span></a>
                                        <a href="https://www.instagram.com/foodforsoul.16" class="social-icon icon instagram" title="Instagram"><span class="sr-only">Instagram</span></a>
                                        <a href="mailto:foodforsoul.16@gmail.com" class="social-icon icon email" title="Email"><span class="sr-only">Email</span></a>
                                    </div><!-- End .social-icons -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">Contact Us</h4>
                                    <ul class="links">
                                        <li><a href="/faq">FAQs</a></li>
                                    </ul>
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3">
                                <div class="widget newsletter-widget">
                                    <h4 class="widget-title">Copyright</h4>
                                    <p>Food-For-Soul © 2016</p>
                                    <p>All Rights Reserved. Except as permitted by the copyright law applicable to you, you may not reproduce or communicate any of the content on this website, including files downloadable from this website, without the permission of the copyright owner.</p>
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-inner -->

                <div class="footer-bottom text-center">
                    <div class="container">
                        <img src="assets/images/ffs-logo-final-footer.png" alt="Food-for-Soul" class="footer-logo">
                        <div class="payment-info">
                            <p>Easy returns. Free shipping on orders over $50</p>
                            <img src="assets/images/cards.png" alt="Payment methods">
                        </div><!-- End .payment-info -->

                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->
        </div><!-- End /wrapper -->

        <!-- End -->
        <script src="assets/js/plugins.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>


        <!-- REVOLUTION JS FILES -->
        <script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>

        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
        (Load Extensions only on Local File Systems !
        The following part can be removed on Server for On Demand Loading) -->
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="assets/js/extensions/revolution.extension.video.min.js"></script>

        <script type="text/javascript">
            (function() {
                "use strict";

                $(document).ready(function() {
                    var revapi;
                    if ($("#rev_slider").revolution == undefined) {
                        revslider_showDoubleJqueryError("/rev_slider");
                    } else {
                        revapi = $("#rev_slider").show().revolution({
                            sliderType:"standard",
                            jsFileLocation:"assets/js/",
                            sliderLayout:"auto",
                            dottedOverlay:"none",
                            delay:10000,
                            disableProgressBar: "on",
                            navigation: {
                                keyboardNavigation: "on",
                                keyboard_direction: "horizontal",
                                mouseScrollNavigation: "off",
                                onHoverStop: "off",
                                touch: {
                                    touchenabled: "on",
                                    swipe_threshold: 75,
                                    swipe_min_touches: 1,
                                    swipe_direction: "horizontal",
                                    drag_block_vertical: false
                                },
                                arrows: {
                                    style: "custom",
                                    enable: true,
                                    hide_onmobile: false,
                                    hide_under: 768,
                                    hide_onleave: false,
                                    tmp: '',
                                    left: {
                                        h_align: "left",
                                        v_align: "center",
                                        h_offset: 20,
                                        v_offset: 0
                                    },
                                    right: {
                                        h_align: "right",
                                        v_align: "center",
                                        h_offset: 20,
                                        v_offset: 0
                                    }
                                },
                                bullets: {
                                    enable: true,
                                    hide_onmobile: false,
                                    hide_under: 767,
                                    style: "custom",
                                    hide_onleave: false,
                                    direction: "horizontal",
                                    h_align: "center",
                                    v_align: "bottom",
                                    h_offset: 0,
                                    v_offset: 30,
                                    space: 15
                                }
                            },
                            viewPort: {
                                enable:true,
                                outof:"pause",
                                visible_area:"80%"
                            },
                            responsiveLevels:[1800,1600,1200,992,767],
                            gridwidth:[1350,800,720,720,480],
                            gridheight:[800,640,520,520,240],
                            lazyType:"single",
                            parallax: {
                                type:"mouse",
                                origo:"slidercenter",
                                speed:2000,
                                levels:[2,3,4,5,6,7,12,16,10,50],
                            },
                            shadow:0,
                            spinner:"on",
                            stopLoop:"off",
                            stopAfterLoops:-1,
                            stopAtSlide:-1,
                            shuffle:"off",
                            autoHeight:"off",
                            hideThumbsOnMobile:"off",
                            hideSliderAtLimit:0,
                            hideCaptionAtLimit:0,
                            hideAllCaptionAtLilmit:0,
                            debugMode:false,
                            fallbacks: {
                                simplifyAll:"off",
                                nextSlideOnWindowFocus:"off",
                                disableFocusListener:false,
                            }
                        });


                        $("#rev_slider").bind("revolution.slide.onloaded",function (e) {
                            BackgroundCheck.init({
                                targets: '.tparrows, .tp-bullets, .tp-caption',
                                images: '.tp-bgimg'
                            });
                        });

                        $("#rev_slider").bind("revolution.slide.onafterswap",function (e,data) {
                            BackgroundCheck.refresh();
                        });
                    }
                });

            })();
        </script>
    </body>
</html>
