<!-- Reference: https://themeforest.net/item/sconto-premium-ecommerce-template/16643705?s_rank=17 -->

<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Food-For-Soul</title>
        <meta name="description" content="Premium eCommerce Template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/favicons/ffs-favicon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/ffs-favicon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/ffs-favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Hind:400,700,600,500,300%7CFira+Sans:400,700italic,500italic,400italic,300italic,700,500,300' rel='stylesheet' type='text/css'>

        <!-- Fira Sans Fix - Google Fira Sans sometimes fails to load -->
        <link href='http://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet'>

        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <link rel="stylesheet" href="assets/css/settings.css">
        <link rel="stylesheet" href="assets/css/navigation.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="node_modules/jquery.rateit/scripts/rateit.css">

    </head>
    <body>
        <div id="wrapper">
          <header class="header sticky-header border-less border-gray">
              <div class="container-fluid">
                  <div class="logo">
                      <a href="index.html" title="Food-for-Soul">
                          <img src="assets/images/ffs-logo-final.png" alt="Food-for-Soul">
                      </a>
                  </div><!-- End .logo -->

                  <nav class="menu-container">
                      <ul class="menu">
                          <li><a href="/BooksPage">Books</a>
                              <ul>
                                  <li>
                                      <a href="/Home_Books/GoodReadsPage">Good Reads</a>
                                      <ul>
                                          <li><a href="/Home_Books/GoodReads/Children">Children's Books</a></li>
                                          <li><a href="/Home_Books/GoodReads/Comics">Comics</a>
                                              <ul>
                                                  <li><a href="/Home_Books/GoodReads/Comics_Marvel">Marvel</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_DC">DC</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_DarkHorse">Dark Horse Comics</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_Image">Image Comics</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/GoodReads/Humor">Humor & Entertainment</a></li>
                                          <li><a href="/Home_Books/GoodReads/Mystery">Mystery, Thriller & Suspense</a>
                                              <ul>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Mystery">Mystery</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Thriller">Thrillers & Suspense</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Writing">Writing</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/GoodReads/Romance">Romance</a></li>
                                          <li><a href="/Home_Books/GoodReads/ScienceFiction">Science Fiction & Fantasy</a>
                                              <ul>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Fantasy">Fantasy</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Gaming">Gaming</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Science">Science</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Writing">Writing</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/GoodReads/Teen">Teen & Young Adult</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Books/KnowledgePage">Knowledge</a>
                                      <ul>
                                          <li><a href="/Home_Books/Knowledge/Business">Business</a></li>
                                          <li><a href="/Home_Books/Knowledge/Computers">Computers & Technology</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Databases">Databases & Big Data</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Graphics">Graphics & Design</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Hardware">Hardware & DIY</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Internet">Internet & Social Media</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Mobile">Mobile Phones, Tablets & E-Readers</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Networking">Networking & Cloud Computing</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_OperatingSystems">Operating Systems</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Programming">Programming</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Security">Security & Encryption</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Software">Software</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Web">Web Development & Design</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Knowledge/Education">Education & Teaching</a></li>
                                          <li><a href="/Home_Books/Knowledge/History">History</a></li>
                                          <li><a href="/Home_Books/Knowledge/Law">Law</a></li>
                                          <li><a href="/Home_Books/Knowledge/Literature">Literature & Fiction</a></li>
                                          <li><a href="/Home_Books/Knowledge/Medical">Medical Books</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Administration">Administration & Medicine Economics</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Dentistry">Dentistry</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_History">History</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Medicine">Medicine</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Nursing">Nursing</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Psychology">Psychology</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Research">Research</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Veterinary">Veterinary Medicine</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Knowledge/Politics">Politics & Social Sciences</a></li>
                                          <li><a href="/Home_Books/Knowledge/Reference">Reference</a></li>
                                          <li><a href="/Home_Books/Knowledge/Sciences">Sciences & Mathematics</a></li>
                                          <li><a href="/Home_Books/Knowledge/Sports">Sports</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Books/LifestylePage">Lifestyle</a>
                                      <ul>
                                          <li><a href="/Home_Books/Lifestyle/Arts">Arts & Photography</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Architecture">Architecture</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Collections">Collections, Catalogs & Exhibitions</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_DecorativeArts">Decorative Arts & Design</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_GraphicDesign">Graphic Design</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Painting">Painting</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_PerformingArts">Performing Arts</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Study">Study & Teaching</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Vehicle">Vehicle Pictorials</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Lifestyle/Biographies">Biographies</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Arts">Arts & Literature</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Ethnic">Ethnic & National</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Leaders">Leaders & Notable People</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Memoirs">Memoirs</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Professionals">Professionals & Academics</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Sports">Sports & Outdoors</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Travelers">Travelers & Explorers</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_TrueCrime">True Crime</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Lifestyle/Food">Food & Drinks</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Health">Health</a></li>
                                          <li><a href="/Home_Books/Lifestyle/LGBT">LGBT</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Parenthood">Parenthood & Relationships</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Philosophy">Philosophy & Learning</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Religion">Religion & Spirituality</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Travel">Travel</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/NotesPage">Notes</a>
                              <ul>
                                  <li>
                                      <a href="/Home_Notes/ArtsPage">Arts & Humanities</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Arts/Arts">Arts</a></li>
                                          <li><a href="/Home_Notes/Arts/Humanities">Humanities & Media Studies</a></li>
                                          <li><a href="/Home_Notes/Arts/Law">Law</a></li>
                                          <li><a href="/Home_Notes/Arts/Property">Property</a></li>
                                          <li><a href="/Home_Notes/Arts/SocialSciences">Social Sciences</a></li>
                                          <li><a href="/Home_Notes/Arts/SocialWork">Social Work</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Notes/CommercePage">Commerce & Education</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Commerce/Business">Business</a></li>
                                          <li><a href="/Home_Notes/Commerce/Commerce">Commerce</a></li>
                                          <li><a href="/Home_Notes/Commerce/Education">Education</a></li>
                                          <li><a href="/Home_Notes/Commerce/Professional">Professional Qualifications</a></li>
                                          <li><a href="/Home_Notes/Commerce/Teaching">Teaching & Training</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Notes/MedicinePage">Medicine</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Medicine/Dentistry">Dentistry</a></li>
                                          <li><a href="/Home_Notes/Medicine/Health">Health</a></li>
                                          <li><a href="/Home_Notes/Medicine/Medicine">Medicine</a></li>
                                          <li><a href="/Home_Notes/Medicine/Nursing">Nursing</a></li>
                                          <li><a href="/Home_Notes/Medicine/Pharmacy">Pharmacy</a></li>
                                          <li><a href="/Home_Notes/Medicine/Veterinary">Veterinary Science</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Notes/SciencePage">Science & Engineering</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Science/Agriculture">Agriculture & Environmental Studies</a></li>
                                          <li><a href="/Home_Notes/Science/Architecture">Architecture, Design & Planning</a></li>
                                          <li><a href="/Home_Notes/Science/Communications">Communications</a></li>
                                          <li><a href="/Home_Notes/Science/Engineering">Engineering & Project Management</a></li>
                                          <li><a href="/Home_Notes/Science/Information">Information Technologies</a></li>
                                          <li><a href="/Home_Notes/Science/Mathematics">Mathematics</a></li>
                                          <li><a href="/Home_Notes/Science/Science">Science & Technology</a></li>
                                          <li><a href="/Home_Notes/Science/Sports">Sports Sciences</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>

                      <ul class="mobile-menu">
                          <li><a href="/BooksPage">Books</a>
                              <ul>
                                  <li>
                                      <a href="/Home_Books/GoodReadsPage">Good Reads</a>
                                      <ul>
                                          <li><a href="/Home_Books/GoodReads/Children">Children's Books</a></li>
                                          <li><a href="/Home_Books/GoodReads/Comics">Comics</a>
                                              <ul>
                                                  <li><a href="/Home_Books/GoodReads/Comics_Marvel">Marvel</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_DC">DC</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_DarkHorse">Dark Horse Comics</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_Image">Image Comics</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Comics_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/GoodReads/Humor">Humor & Entertainment</a></li>
                                          <li><a href="/Home_Books/GoodReads/Mystery">Mystery, Thriller & Suspense</a>
                                              <ul>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Mystery">Mystery</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Thriller">Thrillers & Suspense</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Writing">Writing</a></li>
                                                  <li><a href="/Home_Books/GoodReads/Mystery_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/GoodReads/Romance">Romance</a></li>
                                          <li><a href="/Home_Books/GoodReads/ScienceFiction">Science Fiction & Fantasy</a>
                                              <ul>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Fantasy">Fantasy</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Gaming">Gaming</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Science">Science</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Writing">Writing</a></li>
                                                  <li><a href="/Home_Books/GoodReads/ScienceFiction_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/GoodReads/Teen">Teen & Young Adult</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Books/KnowledgePage">Knowledge</a>
                                      <ul>
                                          <li><a href="/Home_Books/Knowledge/Business">Business</a></li>
                                          <li><a href="/Home_Books/Knowledge/Computers">Computers & Technology</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Databases">Databases & Big Data</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Graphics">Graphics & Design</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Hardware">Hardware & DIY</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Internet">Internet & Social Media</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Mobile">Mobile Phones, Tablets & E-Readers</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Networking">Networking & Cloud Computing</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_OperatingSystems">Operating Systems</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Programming">Programming</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Security">Security & Encryption</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Software">Software</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Web">Web Development & Design</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Computers_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Knowledge/Education">Education & Teaching</a></li>
                                          <li><a href="/Home_Books/Knowledge/History">History</a></li>
                                          <li><a href="/Home_Books/Knowledge/Law">Law</a></li>
                                          <li><a href="/Home_Books/Knowledge/Literature">Literature & Fiction</a></li>
                                          <li><a href="/Home_Books/Knowledge/Medical">Medical Books</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Administration">Administration & Medicine Economics</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Dentistry">Dentistry</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_History">History</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Medicine">Medicine</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Nursing">Nursing</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Psychology">Psychology</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Research">Research</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Veterinary">Veterinary Medicine</a></li>
                                                  <li><a href="/Home_Books/Knowledge/Medical_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Knowledge/Politics">Politics & Social Sciences</a></li>
                                          <li><a href="/Home_Books/Knowledge/Reference">Reference</a></li>
                                          <li><a href="/Home_Books/Knowledge/Sciences">Sciences & Mathematics</a></li>
                                          <li><a href="/Home_Books/Knowledge/Sports">Sports</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Books/LifestylePage">Lifestyle</a>
                                      <ul>
                                          <li><a href="/Home_Books/Lifestyle/Arts">Arts & Photography</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Architecture">Architecture</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Collections">Collections, Catalogs & Exhibitions</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_DecorativeArts">Decorative Arts & Design</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_GraphicDesign">Graphic Design</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Painting">Painting</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_PerformingArts">Performing Arts</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Study">Study & Teaching</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Vehicle">Vehicle Pictorials</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Arts_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Lifestyle/Biographies">Biographies</a>
                                              <ul>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Arts">Arts & Literature</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Ethnic">Ethnic & National</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Leaders">Leaders & Notable People</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Memoirs">Memoirs</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Professionals">Professionals & Academics</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Sports">Sports & Outdoors</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Travelers">Travelers & Explorers</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_TrueCrime">True Crime</a></li>
                                                  <li><a href="/Home_Books/Lifestyle/Biographies_Others">Others</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="/Home_Books/Lifestyle/Food">Food & Drinks</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Health">Health</a></li>
                                          <li><a href="/Home_Books/Lifestyle/LGBT">LGBT</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Parenthood">Parenthood & Relationships</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Philosophy">Philosophy & Learning</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Religion">Religion & Spirituality</a></li>
                                          <li><a href="/Home_Books/Lifestyle/Travel">Travel</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/NotesPage">Notes</a>
                              <ul>
                                  <li>
                                      <a href="/Home_Notes/ArtsPage">Arts & Humanities</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Arts/Arts">Arts</a></li>
                                          <li><a href="/Home_Notes/Arts/Humanities">Humanities & Media Studies</a></li>
                                          <li><a href="/Home_Notes/Arts/Law">Law</a></li>
                                          <li><a href="/Home_Notes/Arts/Property">Property</a></li>
                                          <li><a href="/Home_Notes/Arts/SocialSciences">Social Sciences</a></li>
                                          <li><a href="/Home_Notes/Arts/SocialWork">Social Work</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Notes/CommercePage">Commerce & Education</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Commerce/Business">Business</a></li>
                                          <li><a href="/Home_Notes/Commerce/Commerce">Commerce</a></li>
                                          <li><a href="/Home_Notes/Commerce/Education">Education</a></li>
                                          <li><a href="/Home_Notes/Commerce/Professional">Professional Qualifications</a></li>
                                          <li><a href="/Home_Notes/Commerce/Teaching">Teaching & Training</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Notes/MedicinePage">Medicine</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Medicine/Dentistry">Dentistry</a></li>
                                          <li><a href="/Home_Notes/Medicine/Health">Health</a></li>
                                          <li><a href="/Home_Notes/Medicine/Medicine">Medicine</a></li>
                                          <li><a href="/Home_Notes/Medicine/Nursing">Nursing</a></li>
                                          <li><a href="/Home_Notes/Medicine/Pharmacy">Pharmacy</a></li>
                                          <li><a href="/Home_Notes/Medicine/Veterinary">Veterinary Science</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/Home_Notes/SciencePage">Science & Engineering</a>
                                      <ul>
                                          <li><a href="/Home_Notes/Science/Agriculture">Agriculture & Environmental Studies</a></li>
                                          <li><a href="/Home_Notes/Science/Architecture">Architecture, Design & Planning</a></li>
                                          <li><a href="/Home_Notes/Science/Communications">Communications</a></li>
                                          <li><a href="/Home_Notes/Science/Engineering">Engineering & Project Management</a></li>
                                          <li><a href="/Home_Notes/Science/Information">Information Technologies</a></li>
                                          <li><a href="/Home_Notes/Science/Mathematics">Mathematics</a></li>
                                          <li><a href="/Home_Notes/Science/Science">Science & Technology</a></li>
                                          <li><a href="/Home_Notes/Science/Sports">Sports Sciences</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </nav>

                  <div class="header-search-container">
                      <form action="#" class="header-search-form">
                          <input type="search" class="form-control" required>
                          <button type="submit" class="btn">
                              <i class="icon icon-header-search"></i>
                          </button>
                      </form>
                  </div><!-- End .header-search-container -->

                  <div class="dropdowns-container">
                      <button type="button" class="navbar-toggle">
                          <span class="toggle-wrapper">
                              <span class="toggle-text">Menu</span>
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </span>
                      </button>
                      <div class="dropdowns-wrapper">
                          <ul class="header-dropdown account-dropdown">
                              <li>
                                  <a href="/MyDashboard">
                                      <i class="icon icon-header icon-user"></i>
                                      <span>My Dashboard</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="/PersonalInformation">
                                              <i class="icon icon-dropdown icon-dropdown-user"></i>
                                              <span>My Account</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/MyOrders">
                                              <i class="icon icon-dropdown icon-dropdown-wishlist"></i>
                                              <span>My Orders</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/MySavedCards">
                                              <i class="icon icon-dropdown icon-dropdown-check"></i>
                                              <span>My Saved Cards</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/UserLogout">
                                              <i class="icon icon-dropdown icon-dropdown-lock"></i>
                                              <span>Logout</span>
                                          </a>
                                      </li>

                                  </ul>
                              </li>
                          </ul>

                          <ul class="header-dropdown">
                              <li>
                                  <a href="/cart">
                                      <i class="icon icon-header icon-cart"></i>
                                      <span>My Cart</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="/cart">
                                              <span>View Cart</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/checkout">
                                              <span>Checkout</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>

                          <ul class="header-dropdown">
                              <li>
                                  <a href="#" title="Currency">
                                      <i class="icon icon-header icon-globe"></i>
                                      <span>Currency</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="#">
                                              <i class="icon icon-dropdown icon-currency"></i>
                                              <span>Currency</span>
                                          </a>

                                          <ul>
                                              <li><a href="#">Us Dollar</a></li>
                                              <li><a href="#">Euro</a></li>
                                              <li><a href="#">Pound St</a></li>
                                              <li><a href="#">Yuan</a></li>

                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div><!-- End .dropdowns-wrapper -->
                  </div><!-- End .dropdowns-container -->

                </div><!-- End .container-fluid -->
            </header><!-- End .header -->
            <div class="main">
              <div class="page-header custom larger mb60">
                    <div class="container-fluid">
                        <ol class="breadcrumb">
                            <li><a href="/index">Home</a></li>
                            <li class="active">Shopping Cart</li>
                        </ol>
                    </div><!-- End .container-fluid -->
                </div><!-- End .page-header -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">

                            <div class="table-responsive">

							<!--<table>
							<thead>
                                        <tr>
                                            <th class="product-col">Product Name</th>
                                            <th class="code-col" width="70%">Product Code</th>
                                            <th class="price-col" width="70%">Unit Price</th>
                                            <th class="quantity-col" width="70%">Quantity</th>
                                            <th class="subtotal-col" width="70%">Subtotal</th>
                                            <th class="delete-col" width="70%"><i class="icon delete-btn"></i></th>
                                        </tr>
                                    </thead>
									</table> -->

							<table id="dataTable" name="dataTable"   class="table table-bordered cart-table">

              </table>


                            </div><!-- End .table-responsive -->

                            <div class="row">

                                <div class="mb50 clearfix hidden-lg"></div><!-- margin -->

                                <div class="col-xs-12 col-lg-4">
                                    <div class="text-right">


                                    </div>
                                </div><!-- End .col-lg-4 -->
                            </div><!-- End .row -->


                        </div><!-- End .col-md-9 -->


                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .main -->

                <footer class="footer footer2">
                    <div class="footer-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Your Profile</h4>
                                        <ul class="links">
                                            <li><a href="/MyDashboard">Dashboard</a></li>
                                            <li><a href="/PersonalInformation">Account</a></li>
                                            <li><a href="/MyOrders">Orders</a></li>
                                            <li><a href="/MySavedCards">Saved Cards</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-md-3 -->

                                <div class="col-sm-6 col-md-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Follow Us</h4>

                                        <div class="social-icons smaller">
                                            <a href="https://www.facebook.com/ffs.foodforsoul" class="social-icon icon facebook" title="Facebook"><span class="sr-only">Facebook</span></a>
                                            <a href="https://twitter.com/ffs_foodforsoul" class="social-icon icon twitter" title="Twitter"><span class="sr-only">Twitter</span></a>
                                            <a href="https://www.instagram.com/foodforsoul.16" class="social-icon icon instagram" title="Instagram"><span class="sr-only">Instagram</span></a>
                                            <a href="mailto:foodforsoul.16@gmail.com" class="social-icon icon email" title="Email"><span class="sr-only">Email</span></a>
                                        </div><!-- End .social-icons -->
                                    </div><!-- End .widget -->
                                </div><!-- End .col-md-3 -->

                                <div class="col-sm-6 col-md-3">
                                    <div class="widget">
                                        <h4 class="widget-title">Contact Us</h4>
                                        <ul class="links">
                                            <li><a href="#">Help &amp; Support</a></li>
                                            <li><a href="#">FAQs</a></li>
                                        </ul>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-md-3 -->

                                <div class="col-sm-6 col-md-3">
                                    <div class="widget newsletter-widget">
                                        <h4 class="widget-title">Stay Up To Date</h4>

                                        <p>Sign up to our newsletter for the latest on all things “Food-for-Soul”.</p>

                                        <form>
                                            <input type="email" class="form-control" placeholder="your@email.com" required>
                                            <button type="submit" class="btn btn-custom">Sign Up</button>
                                        </form>
                                    </div><!-- End .widget -->
                                </div><!-- End .col-md-3 -->

                            </div><!-- End .row -->
                        </div><!-- End .container -->
                    </div><!-- End .footer-inner -->

                    <div class="footer-bottom text-center">
                        <div class="container">
                            <img src="assets/images/ffs-logo-final-footer.png" alt="Food-for-Soul" class="footer-logo">
                            <div class="payment-info">
                                <p>Easy returns. Free shipping on orders over $50</p>
                                <img src="assets/images/cards.png" alt="Payment methods">
                            </div><!-- End .payment-info -->

                        </div><!-- End .container -->
                    </div><!-- End .footer-bottom -->
                </footer><!-- End .footer -->

        </div><!-- End #wrapper -->

        <!-- End -->
        <script src="assets/js/plugins.min.js"></script>
        <script src="assets/js/main.js"></script>
		 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
		 <script>
          $( document ).ready(function() {
             var request = $.ajax({
             url:  "/cartdetails",
             type: "POST",
             //data: {author:'nikitha'},
             success: function(result) {
              // var bookDetails = JSON.parse(data);
			         console.log(result);
               var r = new Array(), j = -1;
               var jsonData = JSON.parse(result);
               var len = jsonData.length;
				           r[++j] ='<tr>';
                   r[++j] = '<th style="text-align:center" class="delete-col"><i class="icon delete-btn"></i></th>';
                   r[++j] = '<th style="text-align:center">Product Name</th>';
                   r[++j] = '<th style="text-align:center">Product Code</th>';
                   r[++j] = '<th style="text-align:center">Quantity</th>';
                   r[++j] = '<th style="text-align:center">Unit Price</th>';
                   r[++j] = '<th style="text-align:center">Subtotal</th>';
                   r[++j] = '</tr>';
               for (var i = 0; i < jsonData.length; i++) {
                   r[++j] ='<tr><td>';
                   r[++j] = '<input type="radio" id="isbn'+i+'" name="isbn"  value="'+jsonData[i].isbn+'">';
                  // r[++j] ='<button  name="isbn'+i+'"  id="isbn'+i+'" value="'+jsonData[i].isbn+'" style="height:50px;width:1px" class="btn btn-danger min-width " onclick="deleteItemFunction('+i+')"  >REMOVE</button>';
                   r[++j] = '</td><td>';
                   r[++j] = jsonData[i].bookName;
                   r[++j] = '</td>';
                   r[++j] ='<td class="">';
                   r[++j] = jsonData[i].isbn;
                   r[++j] = '</td><td class="">';
                   //r[++j] = jsonData[i].quantity;
				           //r[++j] = '<input type="text" class="form-control" value="1" name="productQuantity" id = "productQuantity" required>';
					         r[++j] = '<input id="txt1'+i+'" type="text" size="5" value = "'+jsonData[i].quantity+'" onchange="SetDefault($(this).val(),'+jsonData[i].price+','+i+','+jsonData.length+');" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();">';
                   r[++j] = '</td><td class=""> ';
                   //r[++j] = jsonData[i].price;
				           r[++j] = '<input type="text" id="price" size="5" name="price"  value="'+jsonData[i].price+'" readonly>';
				           r[++j] = '</td><td class=""> ';
                   //r[++j] = jsonData[i].price*jsonData[i].quantity;
				           r[++j] = '<input type="text" size="5" value="'+jsonData[i].price*jsonData[i].quantity+'" name="total'+i+'" id = "total'+i+'" required readonly>';

                   r[++j] = '</td></tr>';
                }


			          var k = 0;
			          for (var i = 0; i < jsonData.length; i++) {
                   k = k + jsonData[i].price*jsonData[i].quantity;
                }
			          r[++j] = '<tr> <td></td> <td></td> <td></td><td></td><td>Total</td><td>';
			          r[++j] = '<input type="text" size="5" value="'+k+'" name="totalsum" id = "totalsum" required readonly>';
			          r[++j] = '</td></tr>';
                r[++j] ='<tr><td></td><td></td><td><div class="row"></div>'

                r[++j] ='<div class="col-xs-6 col-lg-4">'
                r[++j] ='</div></td><td></td><td><!-- End .col-lg-8-->'
                r[++j] ='<div class="mb50 clearfix hidden-lg"></div><!-- margin -->'
                r[++j] ='<div class="col-xs-6 col-lg-4">'
                r[++j] ='<button id="deleteItem" class="btn btn-danger min-width " onclick="deleteItemFunction('+len+')" >REMOVE</button>'
                r[++j] ='</div></td></tr><!-- End .col-lg-8-->'
                r[++j] ='</div><!-- End .row -->'
                r[++j] ='<tr><td>'
                r[++j] = '</td><td>'
                r[++j] = '</td><td>'
                r[++j] = '</td><td>'
                r[++j] = '<a href="/index" class="btn btn-custom min-width">Continue Shopping</a>'
                r[++j] = '</td><td>'
                r[++j] ='<button id="deleteItem" class="btn btn-custom min-width" onclick="myFunction('+len+')" >CheckOut</button>'
                r[++j] = '</td></tr>'
                $('#dataTable').html(r.join(''));
             }
           });// rend request
         }); //  end ready

		 function SetDefault(Text, price,i,length){
       var x= '#total'+i;
       $(x).val(Text * price);
       var y= '#totalsum';
       var sum=0;
       for(var i=0;i<length;i++){
         sum = sum + parseInt($('#total'+i).val());
       }
       $(y).val(sum);
      };



      function deleteItemFunction(ivalue) {
         console.log($("input['#isbn'+ivalue]:checked").val());
            var request = $.ajax({
             url:  "/RemoveItem",
             type: "DELETE",
             data: { isbn: $("input['#isbn'+ivalue]:checked").val()
                 },
            //  data: { isbn: $('#isbn'+ivalue).val()
                //   },
          success: function(result) {//unable to refresh page
            if(result=='deleted'){
             window.location.href = "/ViewCart";
           }
                         }
            });
      }


      function myFunction(ivalue) {
        var length = ivalue;
        var items = 0;
        for(var i=0;i<length;i++){
            var request = $.ajax({
             url:  "/cartUpdate",
             type: "PUT",
             data: {totalsum : $("#totalsum").val(),
             total:$('#total'+i).val(),
             quantity:parseInt($('#txt1'+i).val()),
             isbn:$('#isbn'+i).val(),
           },


          success: function(result) {//goto checkout page here
                      items = items + 1;
                      if(items==ivalue){
                        window.location.href = "/CartCheckout";
                      }
                        // window.location.href = "/editbooksuccess";
                         }
            });
          }
          }//end of myfunction

        </script>

    </body>
</html>
