<!-- Reference: https://themeforest.net/item/sconto-premium-ecommerce-template/16643705?s_rank=17 -->

<!DOCTYPE html>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Food-For-Soul</title>
        <meta name="description" content="Premium eCommerce Template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/favicons/ffs-favicon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/ffs-favicon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/ffs-favicon.png">

        <link href='http://fonts.googleapis.com/css?family=Hind:400,700,600,500,300%7CFira+Sans:400,700italic,500italic,400italic,300italic,700,500,300' rel='stylesheet' type='text/css'>

        <!-- Fira Sans Fix - Google Fira Sans sometimes fails to load -->
        <link href='http://code.cdn.mozilla.net/fonts/fira.css' rel='stylesheet'>

        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <link rel="stylesheet" href="assets/css/settings.css">
        <link rel="stylesheet" href="assets/css/navigation.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="node_modules/jquery.rateit/scripts/rateit.css">

    </head>
    <body>
        <div id="wrapper">
          <header class="header sticky-header border-less border-gray">
              <div class="container-fluid">
                  <div class="logo">
                      <a href="/" title="Food-for-Soul">
                          <img src="assets/images/ffs-logo-final.png" alt="Food-for-Soul">
                      </a>
                  </div>

                  <nav class="menu-container">
                      <ul class="menu">
                          <li><a href="/" onclick="books()">Books</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="goodreads()">Good Reads</a>
                                      <ul>
                                          <li><a href="/" onclick="goodreads_children()">Children's Books</a></li>
                                          <li><a href="/" onclick="goodreads_comics()">Comics</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_humor()">Humor & Entertainment</a></li>
                                          <li><a href="/" onclick="goodreads_mystery()">Mystery, Thriller & Suspense</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_romance()">Romance</a></li>
                                          <li><a href="/" onclick="goodreads_science()">Science Fiction & Fantasy</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_teen()">Teen & Young Adult</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="knowledge()">Knowledge</a>
                                      <ul>
                                          <li><a href="/" onclick="knowledge_business()">Business</a></li>
                                          <li><a href="/" onclick="knowledge_computer()">Computers & Technology</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_education()">Education & Teaching</a></li>
                                          <li><a href="/" onclick="knowledge_history()">History</a></li>
                                          <li><a href="/" onclick="knowledge_law()">Law</a></li>
                                          <li><a href="/" onclick="knowledge_literature()">Literature & Fiction</a></li>
                                          <li><a href="/" onclick="knowledge_medical()">Medical Books</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_politics()">Politics & Social Sciences</a></li>
                                          <li><a href="/" onclick="knowledge_references()">Reference</a></li>
                                          <li><a href="/" onclick="knowledge_sciences()">Sciences & Mathematics</a></li>
                                          <li><a href="/" onclick="knowledge_sports()">Sports</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="lifestyle()">Lifestyle</a>
                                      <ul>
                                          <li><a href="/" onclick="lifestyle_arts()">Arts & Photography</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_biographies()">Biographies</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_food()">Food & Drinks</a></li>
                                          <li><a href="/" onclick="lifestyle_health()">Health</a></li>
                                          <li><a href="/" onclick="lifestyle_lgbt()">LGBT</a></li>
                                          <li><a href="/" onclick="lifestyle_parenthood()">Parenthood & Relationships</a></li>
                                          <li><a href="/" onclick="lifestyle_philosophy()">Philosophy & Learning</a></li>
                                          <li><a href="/" onclick="lifestyle_religion()">Religion & Spirituality</a></li>
                                          <li><a href="/" onclick="lifestyle_travel()">Travel</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/" onclick="notes()">Notes</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="arts()">Arts & Humanities</a>
                                      <ul>
                                          <li><a href="/" onclick="arts_arts()">Arts</a></li>
                                          <li><a href="/" onclick="arts_humanities()">Humanities & Media Studies</a></li>
                                          <li><a href="/" onclick="arts_law()">Law</a></li>
                                          <li><a href="/" onclick="arts_property()">Property</a></li>
                                          <li><a href="/" onclick="arts_socialsciences()">Social Sciences</a></li>
                                          <li><a href="/" onclick="arts_socialwork()">Social Work</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="commerce()">Commerce & Education</a>
                                      <ul>
                                          <li><a href="/" onclick="commerce_business()">Business</a></li>
                                          <li><a href="/" onclick="commerce_commerce()">Commerce</a></li>
                                          <li><a href="/" onclick="commerce_education()">Education</a></li>
                                          <li><a href="/" onclick="commerce_professional()">Professional Qualifications</a></li>
                                          <li><a href="/" onclick="commerce_teaching()">Teaching & Training</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="medicine()">Medicine</a>
                                      <ul>
                                          <li><a href="/" onclick="medicine_dentistry()">Dentistry</a></li>
                                          <li><a href="/" onclick="medicine_health()">Health</a></li>
                                          <li><a href="/" onclick="medicine_medicine()">Medicine</a></li>
                                          <li><a href="/" onclick="medicine_nursing()">Nursing</a></li>
                                          <li><a href="/" onclick="medicine_pharmacy()">Pharmacy</a></li>
                                          <li><a href="/" onclick="medicine_veterinary()">Veterinary Science</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="science()">Science & Engineering</a>
                                      <ul>
                                          <li><a href="/" onclick="science_agriculture()">Agriculture & Environmental Studies</a></li>
                                          <li><a href="/" onclick="science_architecture()">Architecture, Design & Planning</a></li>
                                          <li><a href="/" onclick="science_communications()">Communications</a></li>
                                          <li><a href="/" onclick="science_engineering()">Engineering & Project Management</a></li>
                                          <li><a href="/" onclick="science_information()">Information Technologies</a></li>
                                          <li><a href="/" onclick="science_mathematics()">Mathematics</a></li>
                                          <li><a href="/" onclick="science_science()">Science & Technology</a></li>
                                          <li><a href="/" onclick="science_sports()">Sports Sciences</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>

                      <ul class="mobile-menu">
                          <li><a href="/" onclick="books()">Books</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="goodreads()">Good Reads</a>
                                      <ul>
                                          <li><a href="/" onclick="goodreads_children()">Children's Books</a></li>
                                          <li><a href="/" onclick="goodreads_comics()">Comics</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_humor()">Humor & Entertainment</a></li>
                                          <li><a href="/" onclick="goodreads_mystery()">Mystery, Thriller & Suspense</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_romance()">Romance</a></li>
                                          <li><a href="/" onclick="goodreads_science()">Science Fiction & Fantasy</a>
                                          </li>
                                          <li><a href="/" onclick="goodreads_teen()">Teen & Young Adult</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="knowledge()">Knowledge</a>
                                      <ul>
                                          <li><a href="/" onclick="knowledge_business()">Business</a></li>
                                          <li><a href="/" onclick="knowledge_computer()">Computers & Technology</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_education()">Education & Teaching</a></li>
                                          <li><a href="/" onclick="knowledge_history()">History</a></li>
                                          <li><a href="/" onclick="knowledge_law()">Law</a></li>
                                          <li><a href="/" onclick="knowledge_literature()">Literature & Fiction</a></li>
                                          <li><a href="/" onclick="knowledge_medical()">Medical Books</a>
                                          </li>
                                          <li><a href="/" onclick="knowledge_politics()">Politics & Social Sciences</a></li>
                                          <li><a href="/" onclick="knowledge_references()">Reference</a></li>
                                          <li><a href="/" onclick="knowledge_sciences()">Sciences & Mathematics</a></li>
                                          <li><a href="/" onclick="knowledge_sports()">Sports</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="lifestyle()">Lifestyle</a>
                                      <ul>
                                          <li><a href="/" onclick="lifestyle_arts()">Arts & Photography</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_biographies()">Biographies</a>
                                          </li>
                                          <li><a href="/" onclick="lifestyle_food()">Food & Drinks</a></li>
                                          <li><a href="/" onclick="lifestyle_health()">Health</a></li>
                                          <li><a href="/" onclick="lifestyle_lgbt()">LGBT</a></li>
                                          <li><a href="/" onclick="lifestyle_parenthood()">Parenthood & Relationships</a></li>
                                          <li><a href="/" onclick="lifestyle_philosophy()">Philosophy & Learning</a></li>
                                          <li><a href="/" onclick="lifestyle_religion()">Religion & Spirituality</a></li>
                                          <li><a href="/" onclick="lifestyle_travel()">Travel</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/" onclick="notes()">Notes</a>
                              <ul>
                                  <li>
                                      <a href="/" onclick="arts()">Arts & Humanities</a>
                                      <ul>
                                          <li><a href="/" onclick="arts_arts()">Arts</a></li>
                                          <li><a href="/" onclick="arts_humanities()">Humanities & Media Studies</a></li>
                                          <li><a href="/" onclick="arts_law()">Law</a></li>
                                          <li><a href="/" onclick="arts_property()">Property</a></li>
                                          <li><a href="/" onclick="arts_socialsciences()">Social Sciences</a></li>
                                          <li><a href="/" onclick="arts_socialwork()">Social Work</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="commerce()">Commerce & Education</a>
                                      <ul>
                                          <li><a href="/" onclick="commerce_business()">Business</a></li>
                                          <li><a href="/" onclick="commerce_commerce()">Commerce</a></li>
                                          <li><a href="/" onclick="commerce_education()">Education</a></li>
                                          <li><a href="/" onclick="commerce_professional()">Professional Qualifications</a></li>
                                          <li><a href="/" onclick="commerce_teaching()">Teaching & Training</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="medicine()">Medicine</a>
                                      <ul>
                                          <li><a href="/" onclick="medicine_dentistry()">Dentistry</a></li>
                                          <li><a href="/" onclick="medicine_health()">Health</a></li>
                                          <li><a href="/" onclick="medicine_medicine()">Medicine</a></li>
                                          <li><a href="/" onclick="medicine_nursing()">Nursing</a></li>
                                          <li><a href="/" onclick="medicine_pharmacy()">Pharmacy</a></li>
                                          <li><a href="/" onclick="medicine_veterinary()">Veterinary Science</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/" onclick="science()">Science & Engineering</a>
                                      <ul>
                                          <li><a href="/" onclick="science_agriculture()">Agriculture & Environmental Studies</a></li>
                                          <li><a href="/" onclick="science_architecture()">Architecture, Design & Planning</a></li>
                                          <li><a href="/" onclick="science_communications()">Communications</a></li>
                                          <li><a href="/" onclick="science_engineering()">Engineering & Project Management</a></li>
                                          <li><a href="/" onclick="science_information()">Information Technologies</a></li>
                                          <li><a href="/" onclick="science_mathematics()">Mathematics</a></li>
                                          <li><a href="/" onclick="science_science()">Science & Technology</a></li>
                                          <li><a href="/" onclick="science_sports()">Sports Sciences</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </nav>

                  <div class="header-search-container">
                      <form id="searching" onclick="searchbar()" class="header-search-form">
                          <input id="searchval" type="search" class="form-control">
                          <button type="submit" class="btn">
                              <i class="icon icon-header-search"></i>
                          </button>
                      </form>
                  </div><!-- End .header-search-container -->

                  <div class="dropdowns-container">
                      <button type="button" class="navbar-toggle">
                          <span class="toggle-wrapper">
                              <span class="toggle-text">Menu</span>
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </span>
                      </button>
                      <div class="dropdowns-wrapper">
                          <ul class="header-dropdown account-dropdown">
                              <li>
                                  <a href="/MyDashboard">
                                      <i class="icon icon-header icon-user"></i>
                                      <span>My Dashboard</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="/PersonalInformation">
                                              <i class="icon icon-dropdown icon-dropdown-user"></i>
                                              <span>My Account</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/MyOrders">
                                              <i class="icon icon-dropdown icon-dropdown-wishlist"></i>
                                              <span>My Orders</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/MySavedCards">
                                              <i class="icon icon-dropdown icon-dropdown-check"></i>
                                              <span>My Saved Cards</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/logout">
                                              <i class="icon icon-dropdown icon-dropdown-lock"></i>
                                              <span>Logout</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/login">
                                              <i class="icon icon-dropdown icon-dropdown-lock"></i>
                                              <span>Register/Login</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>

                          <ul class="header-dropdown">
                              <li>
                                  <a href="/cart">
                                      <i class="icon icon-header icon-cart"></i>
                                      <span>My Cart</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a href="/cart">
                                              <span>View Cart</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="/checkout">
                                              <span>Checkout</span>
                                          </a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>

                          <ul class="header-dropdown">
                              <li>
                                  <a title="Currency">
                                      <i class="icon icon-header icon-globe"></i>
                                      <span>Currency</span>
                                  </a>

                                  <ul>
                                      <li>
                                          <a>
                                              <i class="icon icon-dropdown icon-currency"></i>
                                              <span>Currency</span>
                                          </a>

                                          <ul>
                                              <li><a onclick="currency_INR()">INR</a></li>
                                              <li><a onclick="currency_USD()">US Dollar</a></li>
                                              <li><a onclick="currency_EUR()">Euro</a></li>
                                              <li><a onclick="currency_GBP()">Pound</a></li>
                                              <li><a onclick="currency_CNY()">Yuan</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div><!-- End .dropdowns-wrapper -->
                  </div><!-- End .dropdowns-container -->

              </div><!-- End .container-fluid -->
          </header><!-- End .header -->

            <div class="main">
                <div class="page-header custom larger mb50">
                    <div class="container-fluid">
                        <h1>Register Seller Account</h1>
                        <ol class="breadcrumb">
                            <li><a href="/index">Home</a></li>
                            <li class="active">Register Seller Account</li>
                        </ol>
                    </div><!-- End .container-fluid -->
                </div><!-- End .page-header -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <!--<form method = "POST" action="/Registersuccessseller">-->
                                <div class="row row-lg">
                                    <div class="col-sm-6">
                                        <h2>YOUR PERSONAL DETAILS</h2>
										<div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerFirstName" id = "sellerFirstName" required>
                                            <label class="input-desc"><i class="icon input-icon input-user"></i>Enter your firstname <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerLastName" id = "sellerLastName" required>
                                            <label class="input-desc"><i class="icon input-icon input-user"></i>Enter your lastname <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="email" class="form-control" name="sellerEmail" id = "sellerEmail" required>
                                            <label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerPhoneNumber" id = "sellerPhoneNumber" required>
                                            <label class="input-desc"><i class="icon input-icon input-email"></i>Enter your phone number <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
										<div class="form-group label-overlay">
                                            <input type="cardnum" class="form-control" name="sellerCardNum" id = "sellerCardNum" required>
                                            <label class="input-desc"><i class="icon input-icon input-email"></i>Enter your credit/debit card number <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
										<div class="form-group label-overlay">
                                            <input type="cvv" class="form-control" name="sellerCardCVV" id = "sellerCardCVV" required>
                                            <label class="input-desc"><i class="icon input-icon input-email"></i>Enter your CVV <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
										<div class="form-group label-overlay">
                                            <input type="cardexp" class="form-control" name="sellerCardExp" id = "sellerCardExp" required>
                                            <label class="input-desc"><i class="icon input-icon input-calendar"></i>Enter exp date MM/YY <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="mb40 visible-xs"></div><!-- margin -->

                                    <div class="col-sm-6">
                                        <h2>YOUR ADDRESS</h2>
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerAddress1" id = "sellerAddress1" required>
                                            <label class="input-desc"><i class="icon input-icon input-pin"></i>Enter your address 1 <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerAddress2" id = "sellerAddress2">
                                            <label class="input-desc"><i class="icon input-icon input-pin"></i>Enter your address 2</label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerCity" id = "sellerCity" required>
                                            <label class="input-desc"><i class="icon input-icon input-city"></i>Enter your city <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerPostcode" id = "sellerPostcode" required>
                                            <label class="input-desc"><i class="icon input-icon input-postcode"></i>Enter your postcode <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerCountry" id = "sellerCountry" required>
                                            <label class="input-desc"><i class="icon input-icon input-flag"></i>Enter your country <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                        <div class="form-group label-overlay">
                                            <input type="text" class="form-control" name="sellerState" id = "sellerState" required>
                                            <label class="input-desc"><i class="icon input-icon input-state"></i>Enter your state <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                            <!--    <div class="mb80 mb60-xs"></div><!-- margin -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>YOUR PASSWORD</h2>
                                        <div class="form-group label-overlay">
                                            <input type="password" class="form-control" name="sellerPassword" id = "sellerPassword" required>
                                            <label class="input-desc"><i class="icon input-icon input-password"></i>Enter your password <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                    <!--    <div class="form-group label-overlay">
                                            <input type="password" class="form-control" required>
                                            <label class="input-desc"><i class="icon input-icon input-password"></i>Re-enter your password <span class="input-required">*</span></label>
                                        </div><!-- End .form-group -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <h2>CREATE</h2>
                                    <!--  <div class="checkbox">
                                          <label class="custom-checkbox-wrapper">
                                            <span class="custom-checkbox-container">
                                                <input type="checkbox" name="jeans" value="jeans" required>
                                                <span class="custom-checkbox-icon"></span>
                                            </span>
                                           <span>I have read and agree to the <a href="/">Privacy Policy</a>.</span>
                                          </label>
                                        </div><!-- End .checkbox -->

                                        <div class="mb5"></div><!-- margin -->
                                        <button id="addUser"  onclick="addUser()" class="btn btn-custom">CREATE ACCOUNT</button>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- end .row -->
                            <!--</form>-->
                        </div><!-- End .col-md-9 -->

                        <div class="mb80 visible-sm visible-xs"></div><!-- margin -->

                        <aside class="col-md-3 sidebar">

                            <div class="widget">

                            </div><!-- End .widget -->

                            <div class="widget">

                            </div><!-- End .widget -->
                        </aside>
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
                <div class="mb40 visible-md visible-lg"></div><!-- margin -->
            </div><!-- End .main -->

            <footer class="footer footer2">
                <div class="footer-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">Your Profile</h4>
                                    <ul class="links">
                                        <li><a href="/MyDashboard">Dashboard</a></li>
                                        <li><a href="/PersonalInformation">Account</a></li>
                                        <li><a href="/MyOrders">Orders</a></li>
                                        <li><a href="/MySavedCards">Saved Cards</a></li>
                                    </ul>
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">Follow Us</h4>

                                    <div class="social-icons smaller">
                                        <a href="https://www.facebook.com/ffs.foodforsoul" class="social-icon icon facebook" title="Facebook"><span class="sr-only">Facebook</span></a>
                                        <a href="https://twitter.com/ffs_foodforsoul" class="social-icon icon twitter" title="Twitter"><span class="sr-only">Twitter</span></a>
                                        <a href="https://www.instagram.com/foodforsoul.16" class="social-icon icon instagram" title="Instagram"><span class="sr-only">Instagram</span></a>
                                        <a href="mailto:foodforsoul.16@gmail.com" class="social-icon icon email" title="Email"><span class="sr-only">Email</span></a>
                                    </div><!-- End .social-icons -->
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3">
                                <div class="widget">
                                    <h4 class="widget-title">Contact Us</h4>
                                    <ul class="links">
                                        <li><a href="/faq">FAQs</a></li>
                                    </ul>
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                            <div class="col-sm-6 col-md-3">
                                <div class="widget newsletter-widget">
                                    <h4 class="widget-title">Copyright</h4>
                                    <p>Food-For-Soul © 2016</p>
                                    <p>All Rights Reserved. Except as permitted by the copyright law applicable to you, you may not reproduce or communicate any of the content on this website, including files downloadable from this website, without the permission of the copyright owner.</p>
                                </div><!-- End .widget -->
                            </div><!-- End .col-md-3 -->

                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .footer-inner -->

                <div class="footer-bottom text-center">
                    <div class="container">
                        <img src="assets/images/ffs-logo-final-footer.png" alt="Food-for-Soul" class="footer-logo">
                        <div class="payment-info">
                            <p>Easy returns. Free shipping on orders over $50</p>
                            <img src="assets/images/cards.png" alt="Payment methods">
                        </div><!-- End .payment-info -->

                    </div><!-- End .container -->
                </div><!-- End .footer-bottom -->
            </footer><!-- End .footer -->

        </div><!-- End /wrapper -->

        <!-- End -->
        <script src="assets/js/plugins.min.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
        <script>
        function addUser() {
            var request = $.ajax({
             url:  "/Registersuccessseller",
             type: "POST",
                   data: {
               sellerFirstName : $("#sellerFirstName").val(),
             sellerLastName:$("#sellerLastName").val(),
             sellerEmail:$("#sellerEmail").val(),
             sellerPhoneNumber:$("#sellerPhoneNumber").val(),
             sellerCardNum:$("#sellerCardNum").val(),
             sellerCardCVV:$("#sellerCardCVV").val(),
             sellerCardExp:$("#sellerCardExp").val(),
             sellerAddress1:$("#sellerAddress1").val(),
             sellerAddress2:$("#sellerAddress2").val(),
             sellerCity:$("#sellerCity").val(),
             sellerPostcode:$("#sellerPostcode").val(),
             sellerCountry:$("#sellerCountry").val(),
             sellerState:$("#sellerState").val(),
             sellerPassword:$("#sellerPassword").val()
            },
          success: function(result) {
            if(result=='present'){
              alert('User Already Registered');
              window.location.href = "/login";
            }else{
              window.location.href = "/index";
            }
                }
            });
          }
</script>

    </body>
</html>
